body {
    
}

html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
}

.header{
	min-height: 100px;
}

.navbar-style{
	box-shadow: 0 5px 10px #efefef;
	text-transform: uppercase;
}

.navbar-brand{
	font-size: 50px !important;
}

.icon-bar{
	background: darkorange;
}

.big-text{
	font-size: 52px;
	margin: 20px 0;
	color: darkorange;
}

.small-text{
	font-size: 22px;
	margin:20px 0;
	color: darkorange;
	
}

a.btn{
	margin: 10px 10px;
	width: 150px;
	padding: 10px;
	border-radius: 20px;
	background-color: darkorange;
	color: #fff;
}

a.btn:hover{
	background: darkorange;
	border: none;
	color: #fff;
	box-shadow: 5px 5px 10px #999;
	transition: 0.3s;
}

.banner-info, .banner-image{
	margin: 30px 0;
}